 body {
     height: 140vh;
     background-image: url('fone.jpg');
     background-size: cover;
     background-repeat: no-repeat;
 }

 #isCanvasImg {
     position: relative;
     left: 1060px;
     top: 264px;
 }



 #canvas {
     position: absolute;
     left: 1078px;
     top: 280px;
 }